*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(33, 33, 33);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playwrite DE Grund", cursive;
    padding: 10px;
}
main{
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 500px;
}
.start-btn,.replay{
    font-weight: 600;
    padding: 10px 25px;
    font-size: 18px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.7s ease;
    background-color: white;
    color: rgb(106, 186, 255);
}
.start-btn:hover,.replay:hover{
    /* box-shadow:250px 0 0 0 rgb(0, 115, 255) inset; */
    box-shadow: inset 0 0 0 2em  rgb(106, 186, 255);
    color: white;
}
.replay-div{
    display: flex;
    justify-content: center;
}
.replay{
    width: 180px;
    padding: 8px 25px;
    margin-bottom: 30px;
}
.questions{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
.question-cont{
    border: 1px solid black;
    min-height: 520px;
    width: 70%;
    box-sizing: border-box;
    position: relative;
}
.ques-sec{
    height: 70px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 20px;
}
.ques-num-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.timer{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}
.question{
    border: 1px solid black;
    height: 280px;
    margin: 20px;
    font-size: 20px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.option{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-color: #dbecf3;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.7s ease;
    min-height: 50px;
    color: black;
    font-size: 18px;
}
.option-cont{
    display: flex;
    width: 100%;
    min-height: 50px;
    gap: 10px;
}
.option:hover{
    box-shadow:1000px 0 0 0 inset #94d5f0;
    color: white;
}
.nextQuesBtn{
    position: absolute;
    right: -133px;
    bottom: 0px;
    padding:5px  1px;
    background-color: rgb(95, 255, 95);
    border: 1px solid black;
    font-size: 17px;
    transition: all 0.7s ease;
    cursor: pointer;
}
.nextQuesBtn:hover{
    background-color: rgb(2, 200, 2);
} 
.corr-ans{
    border: 2px solid green;
}
.wrong-ans{
    border: 2px solid red;
}
.d-n{
    display: none;
}